.hero {
  background-color: var(--color__primary--1);
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 52px 0;
}

.hero__body {
  width: 300px;
}

.hero__title {
  color: var(--color__primary--2);
}

.hero__subtitle,
.hero__description {
  color: #ffffff;
}

.hero__subtitle,
.hero__description {
  margin-bottom: 24px;
}

.hero__button {
  margin-bottom: 24px;
}

.hero__image {
  width: 420px;
  height: 368px;
  object-fit: cover;
  border-radius: 8px;
}
